<div class="overlay overlay-boxify">
    <nav>
        {% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
        {% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

        {% for row in page.collection()|batch(2) %}
         <ul>
          {% for module in row %}
            {% if not module.header.hidemenu %}
              {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
                <li class="{{ current_module }}">
                    <a href="#{{ _self.pageLinkName(module.menu) }}"><i class=""></i>{{ module.menu }}</a>
                </li>
            {% endif %}
           {% endfor %}
         </ul>
         
        {% endfor %}
        
        
        <br /><iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d10505.88551100581!2d2.5788168914657255!3d48.83014531855416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e1!4m3!3m2!1d48.831373899999996!2d2.579678!4m5!1s0x47e60fc9ed7cd0db%3A0x7cf4c1de6fee170c!2s88+Avenue+de+l&#39;Europe%2C+77184+%C3%89merainville%2C+France!3m2!1d48.8318404!2d2.596542!5e1!3m2!1sfr!2sus!4v1486505399026" width="60%" height="40%" style="margin-top: 50px; border: 2px solid #00d0e7; border-style: outset; border-radius: 5px; opacity: 0.8;" allowfullscreen></iframe>
        
        <p>
        <span style="font-size: 13px; color: #c7cacc;">Varela Electricite, Travaux d'installation électrique dans tous locaux (4321A) - 88 Avenue de l'Europe, 77184 Emerainville, France</span>
        <br />
        <span style="font-size: 13px; color: #c7cacc;">tel: <a href="tel:+33164622649">+331 64 62 26 49</a> - SIRET 790 972 996 00025</span>
        <br />
        <span style="font-size: 13px; color: #c7cacc;"> Artisan depuis 2013</span>
        <br />
        <span style="font-size: 13px; color: #c7cacc;">Services <a href="https://ovh.com">OVH</a> et <a href="https://github.com/nascVi">nascVi</a></span>
        </p>
     </nav>
</div>
